In [1]:
import pandas as pd

In [2]:
# Load the AQI dataset.
file_path ="C:/Users/tgeis/OneDrive/Desktop/Module 20 Final Proj/US_AQI.csv"
aqi_df = pd.read_csv(file_path, index_col=0)
aqi_df.head()

,CBSA Code,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_id,state_name,lat,lng,population,density,timezone
0,10140,2022-01-01,21,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
1,10140,2022-01-02,12,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
2,10140,2022-01-03,18,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
3,10140,2022-01-04,19,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
4,10140,2022-01-05,17,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles

In [3]:
aqi_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5617325 entries, 0 to 5718370
Data columns (total 14 columns):
 #   Column                     Dtype
---  ------                     -----
 0   CBSA Code                  int64
 1   Date                       object
 2   AQI                        int64
 3   Category                   object
 4   Defining Parameter         object
 5   Number of Sites Reporting  int64
 6   city_ascii                 object
 7   state_id                   object
 8   state_name                 object
 9   lat                        float64
 10  lng                        float64
 11  population                 float64
 12  density                    float64
 13  timezone                   object
dtypes: float64(4), int64(3), object(7)
memory usage: 642.9+ MB

In [4]:
# Keep NC data
ncaqi_df = aqi_df.loc[aqi_df["state_id"]== "NC"]
ncaqi_df.head()

,CBSA Code,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_id,state_name,lat,lng,population,density,timezone
4279,16740,2022-01-01,28,Good,PM2.5,5,Charlotte,NC,North Carolina,35.2083,-80.8303,1526465.0,1094.0,America/New_York
4280,16740,2022-01-02,29,Good,Ozone,5,Charlotte,NC,North Carolina,35.2083,-80.8303,1526465.0,1094.0,America/New_York
4281,16740,2022-01-03,31,Good,Ozone,5,Charlotte,NC,North Carolina,35.2083,-80.8303,1526465.0,1094.0,America/New_York
4282,16740,2022-01-04,31,Good,Ozone,5,Charlotte,NC,North Carolina,35.2083,-80.8303,1526465.0,1094.0,America/New_York
4283,16740,2022-01-05,34,Good,Ozone,5,Charlotte,NC,North Carolina,35.2083,-80.8303,1526465.0,1094.0,America/New_York

In [5]:
ncaqi_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185733 entries, 4279 to 5716012
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CBSA Code                  185733 non-null  int64
 1   Date                       185733 non-null  object
 2   AQI                        185733 non-null  int64
 3   Category                   185733 non-null  object
 4   Defining Parameter         185733 non-null  object
 5   Number of Sites Reporting  185733 non-null  int64
 6   city_ascii                 185733 non-null  object
 7   state_id                   185733 non-null  object
 8   state_name                 185733 non-null  object
 9   lat                        185733 non-null  float64
 10  lng                        185733 non-null  float64
 11  population                 185733 non-null  float64
 12  density                    185733 non-null  float64
 13  timezone                   185733 non-null  object
dtypes: float64(4), int64(3), object(7)
memory usage: 21.3+ MB

In [6]:
print(ncaqi_df["city_ascii"].unique())

['Charlotte' 'Morehead City' 'Raleigh' 'Roanoke Rapids' 'Asheville'
 'Cullowhee' 'Durham' 'Fayetteville' 'Greensboro' 'Greenville' 'Hickory'
 'Kinston' 'Oxford' 'Rocky Mount' 'Wilmington' 'Sanford' 'Boone'
 'Burlington' 'Goldsboro' 'Marion' 'Lumberton' 'Jacksonville'
 'Elizabeth City' 'Dunn' 'Washington' 'Wilson' 'New Bern']

In [7]:
# Split date into 3 columns for day, month, year

ncaqi_df.Date = pd.to_datetime(ncaqi_df.Date)
ncaqi_df['year'],ncaqi_df['month'],ncaqi_df['day'] = ncaqi_df.Date.dt.year, ncaqi_df.Date.dt.month, ncaqi_df.Date.dt.day
ncaqi_df.head()

C:\Users\tgeis\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\tgeis\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,CBSA Code,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_id,state_name,lat,lng,population,density,timezone,year,month,day
4279,16740,2022-01-01,28,Good,PM2.5,5,Charlotte,NC,North Carolina,35.2083,-80.8303,1526465.0,1094.0,America/New_York,2022,1,1
4280,16740,2022-01-02,29,Good,Ozone,5,Charlotte,NC,North Carolina,35.2083,-80.8303,1526465.0,1094.0,America/New_York,2022,1,2
4281,16740,2022-01-03,31,Good,Ozone,5,Charlotte,NC,North Carolina,35.2083,-80.8303,1526465.0,1094.0,America/New_York,2022,1,3
4282,16740,2022-01-04,31,Good,Ozone,5,Charlotte,NC,North Carolina,35.2083,-80.8303,1526465.0,1094.0,America/New_York,2022,1,4
4283,16740,2022-01-05,34,Good,Ozone,5,Charlotte,NC,North Carolina,35.2083,-80.8303,1526465.0,1094.0,America/New_York,2022,1,5

In [8]:
ncaqi2_df =ncaqi_df.reindex(columns =['CBSA Code','Date','year','month','day','AQI','Category','Defining Parameter','Number of Sites Reporting','city_ascii','state_id','state_name','lat','lng','population','density','timezone'])
ncaqi2_df.head()

,CBSA Code,Date,year,month,day,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_id,state_name,lat,lng,population,density,timezone
4279,16740,2022-01-01,2022,1,1,28,Good,PM2.5,5,Charlotte,NC,North Carolina,35.2083,-80.8303,1526465.0,1094.0,America/New_York
4280,16740,2022-01-02,2022,1,2,29,Good,Ozone,5,Charlotte,NC,North Carolina,35.2083,-80.8303,1526465.0,1094.0,America/New_York
4281,16740,2022-01-03,2022,1,3,31,Good,Ozone,5,Charlotte,NC,North Carolina,35.2083,-80.8303,1526465.0,1094.0,America/New_York
4282,16740,2022-01-04,2022,1,4,31,Good,Ozone,5,Charlotte,NC,North Carolina,35.2083,-80.8303,1526465.0,1094.0,America/New_York
4283,16740,2022-01-05,2022,1,5,34,Good,Ozone,5,Charlotte,NC,North Carolina,35.2083,-80.8303,1526465.0,1094.0,America/New_York

In [9]:
ncaqi2_df.to_csv("C:/Users/tgeis/OneDrive/Desktop/Module 20 Final Proj/ncaqi.csv")